* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    background-image: url('pexels-binyaminmellish-116077.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

.scndmain {
    padding: 20px 20px 0 20px;
}

.heading {
    color: rgba(255,255,255,255);
}

.infosec {
    width: 70vh;
    margin-top: 20px;
}

.subheading {
    color: rgba(255,255,255,255);
}

.para1 {
    margin-top: 30px;
    color: rgb(233, 220, 201);
    line-height: 25px;
    font-family: monospace;
}

.para2 {
    margin-top: 30px;
    color: rgb(233, 220, 201);
    line-height: 25px;
    font-family: monospace;
}