* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    background-image: url('pexels-binyaminmellish-116077.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

.scndmain {
    padding: 10px 10px 0 10px;
}

.heading {
    color: rgba(255,255,255,255);
}

.infosec {
    width: 70vh;
    margin-top: 10px;
}

.subheading {
    color: rgba(255,255,255,255)
}